In [1]:

"""You are a Data Science Consultant working on a project to understand car crashes in the city of
Chicago. As part of your descriptive analysis report, you decide to find answers to the following
questions. Use the SQL language to work on solutions.
"""

import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving traffic_accidents.csv to traffic_accidents.csv

In [8]:
traffic_accidents = pd.read_csv('traffic_accidents.csv')
traffic_accidents.head()

   CRASH_UNIT_ID  ... HAZMAT_CLASS
0             54  ...          NaN
1            145  ...          NaN
2            257  ...          NaN
3            283  ...          NaN
4            327  ...          NaN

[5 rows x 72 columns]

In [4]:
#loading sql extension

%load_ext sql

In [5]:
# Connecting to the in-memory SQLite database Google Colab
# ---
#  
%sql sqlite://

'Connected: @None'

In [9]:
#loading our dataset

import pandas as pd

%sql DROP TABLE if EXISTS traffic_accidents;

%sql PERSIST traffic_accidents;

%sql SELECT * FROM traffic_accidents LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 54, '0ecbc94e9e6a01f8d1fadca458d84be6d51ef9d42b1f4c2f4367a2388fef03451e8bcd7a797f7dfb84f03cf362f81e56429ac15787893f6350e7166d54ad9cff', 'HY372069', '08/06/2015 06:00:00 PM', 2, 'PARKED', None, 53.0, None, 'LINCOLN-CONTINENTAL', 'MKX', 'IL', 2008.0, 'NONE', 'PASSENGER', 'NOT IN USE', 'N', 'PARKED', None, None, 0.0, None, None, None, None, None, None, 'Y', 'Y', None, None, None, None, None, None, None, None, None, 'REAR-RIGHT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1, 145, '7bd0f17b2a365cb53396bf29ac78123c1c258465aa0f1773c792a03d1b36f98e92f60a8ebb87ebaee5f957a3e9813b9aa5ac4f6430498bc0e3a64167765e7165', 'HY376728', '08/10/2015 02:15:00 PM', 2, 'DRIVER', None, 141.0, None, 'MERCEDES-BENZ', 'C250', 'IL', 2013.0, 'NONE', 'PASSENGER', 'PERSONAL', 'S', 'STRAIGHT AHEAD', None, None, 1.0, None, None, None, None, None, None, None, None, 'Y', None, None, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (2, 257, '07155af1c0a71c36e32ab53f86b525d929154b3d7290ae0830b7baa834c7c6f2b22e14a6656406ccad8685bf5f9ac54b058dce68d7122bd468729a941f1c3a97', 'HY383388', '08/15/2015 12:10:00 PM', 1, 'DRIVER', None, 247.0, None, 'MERCEDES-BENZ', 'GLK220', 'IL', 2015.0, 'NONE', 'PASSENGER', 'OTHER', 'E', 'STRAIGHT AHEAD', None, None, 1.0, None, None, None, 'N', 'Y', None, None, None, None, None, None, None, None, None, None, None, None, 'FRONT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (3, 283, '6a54948070f52dcfc8682fc14a374871b76561244c2383fcb89004ebe418262f56c7249c1dfe00f1206dc7d8017d39da4ca23015e6739c668e12cddd302038ee', 'HY385182', '08/16/2015 07:00:00 PM', 2, 'DRIVER', 5.0, 270.0, None, 'TOYOTA MOTOR COMPANY, LTD.', 'CAMRY', 'IL', 2014.0, 'NONE', 'PASSENGER', 'PERSONAL', 'W', 'SLOW/STOP - RIGHT TURN', None, None, 6.0, None, None, None, None, 'Y', 'Y', None, None, None, None, None, 'Y', None, None, None, None, None, 'FRONT-LEFT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4, 327, '0ff295104810bc4e8d6c15e4fc92a5beb3768c792bb995b80bf2fe3904e6d30390fce363ae8b4c99a0c48cca42697d43a385b8b654cfea77d59a7c11342fc664', 'HY386474', '08/16/2015 01:45:00 PM', 2, 'PARKED', None, 312.0, None, 'LEXUS', 'RX350', 'IL', 2015.0, 'NONE', 'SPORT UTILITY VEHICLE (SUV)', 'OTHER', 'N', 'PARKED', None, None, 0.0, None, None, None, None, None, None, None, 'N', 'Y', 'N', None, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

In [ ]:
#1. Display a list of 5 makes that had the highest number of crashes?
%%sql  
SELECT MAKE,
  COUNT(MAKE) AS highest_make_crashes
FROM traffic_accidents
GROUP BY MAKE
ORDER BY COUNT(MAKE) DESC
LIMIT 5;

 * sqlite://
Done.

[('CHEVROLET', 817),
 ('FORD', 737),
 ('NISSAN', 634),
 ('TOYOTA MOTOR COMPANY, LTD.', 563),
 ('HONDA', 467)]

In [ ]:
#2. Most personal vehicles involved in crashes were traveling towards which direction?
%%sql
SELECT TRAVEL_DIRECTION,
  COUNT(TRAVEL_DIRECTION) AS passenger_travel_direction
FROM traffic_accidents  WHERE VEHICLE_TYPE = 'PASSENGER'
GROUP BY TRAVEL_DIRECTION
ORDER BY COUNT(TRAVEL_DIRECTION) DESC;

#Most personal vehicles were traveling towards the North

 * sqlite://
Done.

[('N', 1059),
 ('S', 1057),
 ('W', 955),
 ('E', 931),
 ('UNKNOWN', 186),
 ('SE', 70),
 ('NW', 67),
 ('NE', 35),
 ('SW', 31)]

In [ ]:
#3. How many passengers were involved in personal cars were in accidents?
%%sql
SELECT SUM(NUM_PASSENGERS)
FROM traffic_accidents 
WHERE VEHICLE_USE = 'PERSONAL';

 * sqlite://
Done.

[(1149.0,)]

In [ ]:
#How many passengers were involved in accidents while traveling in personal Sport Utility vehicles?
%%sql

SELECT SUM(NUM_PASSENGERS)
FROM traffic_accidents
WHERE VEHICLE_TYPE = 'SPORT UTILITY VEHICLE (SUV)'

 * sqlite://
Done.

[(258.0,)]

In [ ]:
#Compute the total number of Mercedez-Benz vehicles involved in accidents while being parked.
%%sql
SELECT COUNT(CRASH_RECORD_ID)
FROM traffic_accidents
WHERE MAKE = 'MERCEDES-BENZ' 
AND  MANEUVER = 'PARKED'

 * sqlite://
Done.

[(20,)]

In [ ]:
#Compute the total occupant count per vehicle count.
%%sql
SELECT MAKE,
  SUM(OCCUPANT_CNT) as total_occupants
FROM traffic_accidents
GROUP BY MAKE

 * sqlite://
Done.

[('"ALLISON\'S FIBERGLASS MFG., INC (PORT ORANGE., FLORIDA)."', 1.0),
 ('"CLASSIC MOTOR CARRIAGES, INC. (HALLANDALE, FLORIDA)"', 1.0),
 ('ACURA', 57.0),
 ('ACURA (DIV. OF AMERICAN HONDA MOTOR CO.)', 20.0),
 ('ALFA ROMEO', 1.0),
 ('AMTRAN CORP, GENSIS BUSES', 1.0),
 ('AUDI', 70.0),
 ('AUTOCAR', 5.0),
 ('BANTAM CRANE', 1.0),
 ('BLUE BIRD BODY CO.', 1.0),
 ('BLUE BIRD BODY COMPANY', 3.0),
 ('BLUEBIRD INTERNATIONAL', 28.0),
 ('BMW', 98.0),
 ('BSA', 1.0),
 ('BUICK', 90.0),
 ('CABLE CRANE & EXCAVATOR (DIVISION OF FMC CORPORATION)', 1.0),
 ('CADILLAC', 75.0),
 ('CAN-AM', 1.0),
 ('CHEVROLET', 883.0),
 ('CHRYSLER', 158.0),
 ('COOPER', 0.0),
 ('CUB CADET (MFD. BY INTERNATIONAL HARVESTER CO.)', 1.0),
 ('CUSHMAN TURF-OMC LINCOLN', 1.0),
 ('CWC FEATHER-LITE, EL RENO, OKLAHOMA', 2.0),
 ('DART, KW', 2.0),
 ('DODD MFG. CO., INC.', 1.0),
 ('DODGE', 330.0),
 ('EAGLE', 2.0),
 ('EALGE INTERNATIONAL, INC., BROWNSVILL, TEXAS', 2.0),
 ('EAST DUMP TRAILER', 1.0),
 ('ENGLISH FORD (BRITISH)', 2.0),
 ('FIAT', 11.0),
 ('FORD', 829.0),
 ('FREIGHTLINER CORP.', 40.0),
 ('FREIGHTLINER CORPORATION', 21.0),
 ('GENERAL', 1.0),
 ('GENERAL ENGINES', 4.0),
 ('GENERAL MOTORS CORP.', 54.0),
 ('GENERAL MOTORS CORPORATION (GMC)', 35.0),
 ('GILL MFG. CO.', 1.0),
 ('GREAT DANE TRAILERS INC.', 1.0),
 ('HACKNEY & SONS, INC,', 1.0),
 ('HARLEY-DAVIDSON', 7.0),
 ('HINO', 9.0),
 ('HONDA', 508.0),
 ('HUMMER', 0.0),
 ('HYUNDAI', 367.0),
 ('ICL CARGO TRAILER', 1.0),
 ('INFINITI', 93.0),
 ('INTENATIONAL INDUSTRIES, INC.', 1.0),
 ('INTERCONSULT MFG. CO.', 1.0),
 ('INTERNATIONAL COACH MANUFACTURING', 1.0),
 ('INTERNATIONAL COACH MFG.', 1.0),
 ('INTERNATIONAL HARVESTER', 8.0),
 ('INTERNATIONAL HARVESTER CO.', 1.0),
 ('INTERNATIONAL HARVESTER COMPANY', 1.0),
 ('INTERNATIONAL TRAILER CORP.', 2.0),
 ('INTERNATIONAL TRAILER CORPORATION', 2.0),
 ('ISUZU', 13.0),
 ('JAGUAR', 8.0),
 ('JEEP', 301.0),
 ('KEN TRAILER', 2.0),
 ('KENWORTH MOTOR TRUCK CO.', 1.0),
 ('KENWORTH MOTOR TRUCK COMPANY', 8.0),
 ('KIA', 63.0),
 ('KIA MOTORS CORP', 124.0),
 ('LAND ROVER', 10.0),
 ('LEXUS', 107.0),
 ('LINCOLN', 16.0),
 ('LINCOLN PARK MOBILE HOMES, INC., SHIPSHEWNAN, IN', 1.0),
 ('LINCOLN-CONTINENTAL', 44.0),
 ('MACK TRUCKS, INC.', 10.0),
 ('MASERATI', 2.0),
 ('MAZDA', 85.0),
 ('MERCEDES-BENZ', 111.0),
 ('MERCURY', 18.0),
 ('MINI', 9.0),
 ('MINI-CRUISER (MFD. BY R.B.R. CORP.)', 1.0),
 ('MITSUBISHI', 37.0),
 ('MOTOR COACH INDUSTRIES, INC.', 2.0),
 ('NAVISTAR', 8.0),
 ('NECEDAH FLYERS (MFD. BY TWIN CITY RACING)', 1.0),
 ('NEW FLYER', 44.0),
 ('NISSAN', 708.0),
 ('NORTH AMERICAN BUS INDUSTRIES', 1.0),
 ('NOVA BUS', 4.0),
 ('OLSON', 0.0),
 ('PETERBILT MOTORS CO., DIVISION PACCAR, INC.', 3.0),
 ('PETERBILT MOTORS COMPANY (DIVISION OF PACCAR, INC.)', 1.0),
 ('PETERSON', 1.0),
 ('PONTIAC', 47.0),
 ('PORSCHE', 6.0),
 ('RANGE ROVER OF NORTH AMERICA', 9.0),
 ('SAAB', 4.0),
 ('SATURN', 31.0),
 ('SCION', 11.0),
 ('STERLING', 1.0),
 ('SUBARU', 70.0),
 ('SUZUKI', 14.0),
 ('TEM KEN TRAILERS MFG.', 1.0),
 ('TEREX, EUCLID & TEREX PRODUCTS', 1.0),
 ('TESLA', 4.0),
 ('TESLA MOTORS', 5.0),
 ('THOMAS BUILT BUS CO.', 2.0),
 ('THOMAS BUILT BUS COMPANY', 2.0),
 ('TOYOTA', 209.0),
 ('TOYOTA MOTOR COMPANY, LTD.', 615.0),
 ('TRANSIT', 3.0),
 ('TRIUMPH', 1.0),
 ('UNKNOWN', 69.0),
 ('UTILITY TRAILER', 0.0),
 ('VAN GUARD TRAILER, LTD.', 1.0),
 ('VESPA', 1.0),
 ('VOLKSWAGEN', 153.0),
 ('VOLVO', 28.0),
 ('WANAMAKER TRAILER', 1.0),
 ('YAMAHA', 2.0)]

In [ ]:
#Sort the number of passengers in descending order by travel direction taking into
#account travel direction. Return travel direction and no. of passengers.

%%sql

SELECT *
from traffic_accidents 
ORDER BY OCCUPANT_CNT DESC
LIMIT 5

 * sqlite://
Done.

[(1994, 418663, '6a237f91890dbfde2e25556f45f7c223cfcf36a864bb588f0531e1b0f73d4823c8c98f9799f6a54e42122e46a06b0f37abc8a0dda17306c93e35161ef655b7cb', 'JB323163', '06/26/2018 09:20:00 AM', 1, 'DRIVER', 20.0, 402210.0, None, 'BLUEBIRD INTERNATIONAL', 'BLUEBIRD INTERNATIONAL', 'IL', 2018.0, 'UNKNOWN', 'BUS OVER 15 PASS.', 'SCHOOL BUS', 'N', 'STRAIGHT AHEAD', None, None, 21.0, None, None, None, None, None, None, None, 'Y', None, None, None, None, None, None, None, None, None, 'REAR-RIGHT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (4760, 941118, 'd94dcc740f89c5cf848cab7bdaddd286bcd289238c20f893aad4eabca6ba3a582a4923298fd4db6871ba21743c215e3a4a84a9295a420aab84b5251b51d5b259', 'JD336874', '08/18/2020 03:00:00 PM', 2, 'DRIVER', 10.0, 892359.0, None, 'NEW FLYER', 'NEW FLYER', 'IL', 2020.0, 'NONE', 'BUS OVER 15 PASS.', 'CTA', 'N', 'STRAIGHT AHEAD', None, None, 11.0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'TOTAL (ALL AREAS)', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (146, 34618, 'fb790c4a57f3d6df28e4e6ff1f4c807f7931fbcecd026a5ed3cec8ec986afe3f5fd51bf906bf3bc639f243783dca5e9b159ff0323beeff542a8e8a5d0e7d5814', 'HZ189474', '03/15/2016 05:30:00 PM', 1, 'DRIVER', 7.0, 33462.0, None, 'UNKNOWN', 'UNKNOWN', 'OH', 2010.0, 'NONE', 'VAN/MINI-VAN', 'OTHER TRANSIT', 'N', 'BACKING', None, None, 8.0, None, None, None, 'Y', None, None, None, None, None, None, None, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (403, 87405, 'cdea06ea92457c605fa6b9f97aeb61238712814b125a25806644f845071dd6d98dca1b8f004f2f9e1e20690dd02c292c7c096fb57e9a46c6d886f9c685d8ffed', 'HZ477863', '10/17/2016 01:05:00 PM', 1, 'DRIVER', 7.0, 84504.0, None, 'UNKNOWN', 'UNKNOWN', 'IL', 2008.0, 'OTHER', 'BUS OVER 15 PASS.', 'CTA', 'S', 'SLOW/STOP IN TRAFFIC', None, None, 8.0, None, None, None, None, 'Y', None, None, None, None, None, None, None, None, None, None, None, None, 'FRONT', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 (1029, 214088, '8770494674949b6c5bdc6d1f2dd180258caf719ac202dd7d1b007f3f9a7c57c2bb9c2215112b26318df51cf0555399e3ca25c972e3e226c22520f729fb6af166', 'JA424457', '09/08/2017 03:00:00 PM', 1, 'DRIVER', 6.0, 210333.0, None, 'DODGE', 'CARAVAN', 'IL', 2014.0, 'NONE', 'VAN/MINI-VAN', 'OTHER TRANSIT', 'N', 'BACKING', None, None, 7.0, None, None, None, None, None, 'N', None, None, 'Y', None, None, None, None, None, None, None, None, 'REAR', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None)]

In [17]:
#Select the top 5 vehicle models involved in the accident with no defect, order them by make, and show their maneuver.
%%sql
SELECT MODEL, MANEUVER,
  COUNT(MODEL) as top_models_in_accident
FROM traffic_accidents WHERE VEHICLE_DEFECT = 'NONE'
GROUP BY MODEL
ORDER BY COUNT(MODEL) DESC
LIMIT 5;

 * sqlite://
Done.

[('UNKNOWN', 'TURNING LEFT', 361),
 ('CAMRY', 'PARKED', 162),
 ('OTHER (EXPLAIN IN NARRATIVE)', 'PARKED', 120),
 ('COROLLA', 'CHANGING LANES', 100),
 ('CIVIC', 'PARKED', 93)]

In [33]:
#Which ridesharing vehicles in an accident had the most number of passengers?Return model, and the number of passengers.

%%sql
SELECT MODEL,
  SUM(OCCUPANT_CNT) AS total_passengers_ride_sharing
FROM traffic_accidents WHERE VEHICLE_USE = "RIDESHARE SERVICE"
GROUP BY MODEL
ORDER BY SUM(OCCUPANT_CNT) DESC
LIMIT 10;

 * sqlite://
Done.

[('CAMRY', 12.0),
 ('UNKNOWN', 11.0),
 ('COROLLA', 8.0),
 ('JETTA', 5.0),
 ('SOUL', 5.0),
 ('ELANTRA', 4.0),
 ('MALIBU (CHEVELLE)', 4.0),
 ('Optima', 4.0),
 ('A4', 3.0),
 ('OTHER (EXPLAIN IN NARRATIVE)', 3.0)]